<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>
<div th:fragment="sidebar_client">
  <div id="sidebar">
    <h4 class="text-center py-3">Thindesk Menu</h4>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/home_client}" aria-current="page">Início</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/logout_screen}">
          <i class="bi bi-headset"></i> <span class="d-none d-md-inline">logout</span>
        </a>
      </li>
    </ul>
  </div>
</div>
</body>
</html>
